.container {
  padding: 20px;
}

.spinnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerButtonBox {
  display: flex;
  justify-content: center;
}

.documentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.documentItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 300px; /* базовая ширина элемента и возможность его растягивания */
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.documentOption {
  /* block-size: 25px; */
  border-radius: 8px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.42);
}

.documentOption:last-child {
  margin-bottom: 20px;
}

.buttonBox {
  margin-top: 20px;
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.buttonBox Button {
  inline-size: 100%;
}
